# Project place file
/A-roleplay-game.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

#scripts lock files
Packages
#src/Client/Rain.lua
Analytics
Scripts/GeneratedFilesTest
Analytics/output/kpi/users.json
Analytics/output/kpi/sessions.json
Analytics/output/events.json
